body {
  background: #EFEFEF;
}
h3 { font-family: 'Open Sans'; }


// --
.viz-body {
  background: #fff;
  width: 940px;
  margin: 30px auto;
  .legend {
    font-size: 10px;
    font-weight: bold;
    color: #555;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  #graph_bubble {
    position: relative;
    padding: 10px 20px;
    svg {
      circle {
        stroke: #000;
        stroke-opacity: .3;
        &:hover {
          stroke-opacity: 1;
        }
      }
    }
    .coinvestment-right {
      position: absolute;
      right: 0;
      top: 20px;
      text-align: right;
      padding-right: 10px;
      pointer-events: none;
      small {
        margin: 0 0 0 44px;
        display: block;
        width: 229px;
        color: #555;
      }
    }
    #coinvestment-total {
      white-space: nowrap;
      color: #555;
      font-size: 37px;
      .poundsign {
        display: inline-block;
        color: #333;
        padding-right: 7px;
        font-size: 48px;
        vertical-align: middle;
        margin-top: -6px;
      }
    }
  }
  #graph_sankey {
    margin: 10px 20px;
    .node rect {
      cursor: move;
      fill-opacity: .9;
      shape-rendering: crispEdges;
    }
    .node text {
      pointer-events: none;
      font-size: 11px;
      //font-family: 'Helvetica Neue';
    }
    .link {
      fill: none;
      stroke: #038;
      stroke-opacity: .13;
    }
    .link:hover {
      stroke-opacity: .32;
    }
  }
  #graph_pie1 {
    padding: 10px 10px 10px 20px;
  }
  #graph_pie2 {
    padding: 10px 20px 10px 10px;
  }
  #graph_yearonyear {
    padding: 10px 20px;
    svg { 
      margin: 0 auto;
      display:block;
    }
    .legend {
      background: rgba(255,255,255,0.8);
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    .bar {
      fill: steelblue;
    }
    .x.axis path {
      display: none;
    }
  }
}

